<div [@routerTransition]>
    <app-page-header [heading]="'Forget Password'"></app-page-header>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <form novalidate #form="ngForm">
                <div class="form-row">
                    <div class="col-md-12 text-center">
                        <p id="success" class=" col-md-12 text-center">{{ loginSuccessMsg }}</p>
                        <p id="error" class=" col-md-12 text-center">{{ loginErrorMsg }}</p>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" [(ngModel)]="user.email" #email="ngModel" name="email"
                            placeholder="name@email" required>
                        <div *ngIf="(email.errors?.required && form.submitted ||email.errors?.required && email.touched)"
                            class="alert alert-danger">
                            Enter a Email
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label for="mobile">Mobile No</label>
                        <input type="text" class="form-control" [(ngModel)]="user.mobile" #userMobile="ngModel" name="mobile"
                            placeholder="Mobile No" minlength="10" required>
                        <div *ngIf="userMobile.errors?.required && form.submitted ||userMobile.errors?.required && userMobile.touched"
                            class="alert alert-danger">
                            Mobile Number is Required
                        </div>
                        <div *ngIf="userMobile.errors?.minlength && userMobile.touched" class="alert alert-danger">
                            Enter a Valid Mobile Number
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="form-row">
                            <div class="col col-md-12">
                                <button (click)="onSubmit()" type="button" class="button btn btn-primary col-md-12">Reset
                                    Password</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>