<div [@routerTransition]>
    <div class="row video_posts">
        <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let video of videos">
            <a [routerLink]="['/videoListing/'+video.id]" routerLinkActive="router-link-active">
                <div class="image">
                    <!-- <img class="img-fluid" [src]="video.photo" [alt]="video.image_alt"> -->
                    <img class="img-fluid img-responsive" src="assets/images/videos/{{video.photo}}" [alt]="video.title">
                 </div>
            </a>
        </div>
    </div>
</div>