<div [@routerTransition]>
  <app-page-header [heading]="'Our Gallery'" [icon]="'fa-wrench'"></app-page-header>
  <div class="container">
    <div class="gallery">
      <div class="view overlay hm-black-light gallery-item">
        <img src="https://placeimg.com/640/480/arch" alt="Placeholder Image" class="img-fluid">
        <div class="mask flex-center">
          <p class="white-text">Gallery Item</p>
        </div>
      </div>
      <div class="view overlay hm-black-light gallery-item">
        <img src="https://placeimg.com/640/480/any" alt="Placeholder Image" class="img-fluid">
        <div class="mask flex-center">
          <p class="white-text">Gallery Item</p>
        </div>
      </div>
      <div class="view overlay hm-black-light gallery-item">
        <img src="https://placeimg.com/640/480/tech" alt="Placeholder Image" class="img-fluid">
        <div class="mask flex-center">
          <p class="white-text">Gallery Item</p>
        </div>
      </div>
      <div class="view overlay hm-black-light gallery-item">
        <img src="https://placeimg.com/640/480/animals" alt="Placeholder Image" class="img-fluid">
        <div class="mask flex-center">
          <p class="white-text">Gallery Item</p>
        </div>
      </div>
      <div class="view overlay hm-black-light gallery-item">
        <img src="https://placeimg.com/640/480/people" alt="Placeholder Image" class="img-fluid">
        <div class="mask flex-center">
          <p class="white-text">Gallery Item</p>
        </div>
      </div>
      <div class="view overlay hm-black-light gallery-item">
        <img src="https://placeimg.com/640/480/any" alt="Placeholder Image" class="img-fluid">
        <div class="mask flex-center">
          <p class="white-text">Gallery Item</p>
        </div>
      </div>
    </div>
  </div>
</div>