<div [@routerTransition]>
    <app-page-header [heading]="'Blog'"></app-page-header>
    <div class="row blog_posts">
        <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let blog of blogs">
            <a [routerLink]="['/blogListing']" routerLinkActive="router-link-active">
                <div class="image">
                    <img class="img-fluid" [src]="blog.photo" [alt]="blog.image_alt">
                    <div class="caption">
                        <!-- <div class="blog_count">{{blog.blog_count}}</div> -->
                        <div class="blog_title">{{blog.title}}</div>
                        <div class="blog_po_date">{{blog.time}}</div>
                        <div class="blog_icons">
                            <!-- <span class="blog_cmnt">{{blog.blog_cmnt_count}}</span> -->
                            <span class="blog_likes">{{blog.likes}}</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>