<div [@routerTransition]>
    <div class="row news_posts">
        <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let news of news">
            <a [routerLink]="['/newsListing/'+news.id]" routerLinkActive="router-link-active">
                <div class="image">
                    <!-- <img class="img-fluid" src="https://picsum.photos/700/500/?random" [alt]="news.image_alt"> -->
                    <img class="img-fluid" src="assets/images/news/{{news.photo}}" [alt]="news.image_alt">
                    <div class="text-center">{{news.title}}</div>
                </div>
            </a>
        </div>
    </div>
</div>
