<div [@routerTransition]>
    <app-page-header [heading]="'Events'"></app-page-header>
    <div class="row event_posts">
        <div class="col-md-12 col-sm-12 col-xs-12" *ngFor="let event of events">
            <h3 class="title text-center">{{event.title}}</h3>
            <img src="assets/images/events/{{event.photo}}" [alt]="event.title" class="col-md-12 col-sm-12 col-xs-12 img-responsive">
            <div>
                {{event.description}}
            </div>
            <div class="col-md-12">
                <div class="col-md-6 col-xs-6 text-left">
                    Posted on : {{event.date_time}}
                </div>
                <div class="col-md-6 col-xs-6 text-right fa fa-heart">
                    {{event.likes}}
                </div>
            </div>
        </div>
    </div>
</div>